{#
/**
 * @file
 * Theme override for tabs.
 */
#}

{%
  set classes = [
    'block',
    'block-tabs',
  ]
%}

<div{{ attributes.addClass(classes) }}>
  {% if content %}
    <nav class="tabs" role="navigation" aria-label="{{ 'Tabs'|t }}">
      {{ content }}
    </nav>
  {% endif %}
</div>