{#
/**
 * @file
 * Theme override for local actions (primary admin actions.)
 */
#}
{%
  set classes = [
    'block',
    'block-actions',
  ]
%}

<div{{ attributes.addClass(classes) }}>
  {% if content %}
    <nav class="action-links">{{ content }}</nav>
  {% endif %}
</div>
